.body {
    padding: 0px;
    margin: 0px;
}
h1 {
    background-color: deepskyblue;
}
h2 {
    background-color: blue;
}
h3 {
    background-color: darkseagreen;
}
h4 {
    background-color: thistle
}
h5 {
    background-color: lightseagreen;
}
h6 {
    background-color: yellow
}